# Introdução à Programação para Ciência de Dados

### Aula 3: Tipos + Expressões

**Professor:** Igor Malheiros

## Tipos de dados

Os tipos de dados são uma forma de **categorização** dos dados que utilizamos. Esses tipos especificam quais valores esses dados podem assumir, quais operações podem ser realizadas com esses dados e qual o comportamento esperado dessas operações.

Por enquanto, nós vamos utilizar quatro tipos primitivos de Python.

**int**: grupo com os números inteiros (`-1`, `0`, `1`, `50`, `-121`, ...)

**float**: grupo com os números reais (`1.25`, `0.0`, `-32.4`, `3.14`, ...)

**bool**: grupo com os valores lógicos (`True` e `False`)

**str**: grupo com as *strings* (`"casa"`, `"João"`, `"Python"`, `"Um texto muito muito muito grande."`, ...)

Existem outros tipos primitivos e ainda outros tipos que nós podemos criar, mas isso será assunto para outras aulas.

Em Python, uma mesma variável pode assumir diferentes tipos ao longo do código. Por isso, a linguagem é classificada como sendo *dinamicamente tipada*.

In [31]:
# x = 10, x = "Python", x = 3.14
x = 10
print(x)
x = "Python"
print(x)
x = 3.14
print(x)

10
Python
3.14

Uma variável que recebe diferentes tipos ao longo do código pode ser sujeito à erros. Por isso, identificar qual é o tipo de uma variável pode ajudar no processo de *debug* do programa. Em Python, nós utilizamos a função `type()` para identificar o tipo de uma variável.

In [33]:
# type(), x = 10, x = "Python", x = 3.14

x = 10
print(x)
print(type(x))

x = "Python"
print(x)
print(type(x))

x = 3.14
print(x)
print(type(x))

10
<class 'int'>
Python
<class 'str'>
3.14
<class 'float'>

3.14

## Expressões

Uma expressão é uma combinação de constantes, variáveis e operadores que resultam em um valor.

- `2 * n + 1`
- `2 * pi * r`

Uma constante ou uma variável por si só também é considerada como uma expressão e seu resultado é o valor da constante/variável.

- `42`
- `True`
- `"Python"`

Um importante elemento das expressões são os **operadores**, eles vão indicar que tipo de operação será realizada sob os **operandos**.

Exemplo

```Python
10 + 50

# 10 é o primeiro operando
# + é o operador, que realiza uma operação de soma
# 50 é o segundo operando
# O resultado é a soma de 10 e 50, 60
```

### Expressões numéricas

As expressões numéricas se comportam de forma parecida com a que já estamos acostumados na matemática tradicional. Entretanto, devido à limitações do teclado, são utilizados outros símbolos para expressar operações clássicas da matemática.

| Operador | Operação|
|:---:|:---:|
| +  | Adição           |
| -  | Subtração        |
| *  | Multiplicação    |
| /  | Divisão          |
| ** | Exponenciação    |
| %  | Resto da divisão |

In [34]:
# adição inteiros
10 + 50

60

In [35]:
# adição floats
2.5 + 3.4

5.9

In [37]:
# subtração inteiros
10 - 15

-5

In [38]:
# subtração floats
2.5 - 3.4

-0.8999999999999999

In [39]:
# multiplicação inteiros
2 * 3

6

In [40]:
# multiplicação floats
1.2 * 2.5

3.0

In [41]:
# exponenciação
2 ** 3

8

In [43]:
# resto de divisão
5 % 2

1

Para evitar ambiguidade de qual **ordem** deve-se executar as operações em uma expressão, os operadores possuem a propriedade de **precedência**.

`x = 1 + 2 * 10`

Em geral, os operadores seguem uma ordem de precedência muito parecida com a que já conhecemos na matemática. Nós também podemos utilizar os parênteses `()` para evitar erros.

`x = 1 + (2 * 10)`

| Operadores | Precedência|
|:---:|:---:|
| () |1|
| ** |2|
| *  |3|
| /  |3|
| %  |3|
| +  |4|
| -  |4|

Quando dois operadores possuem o mesmo nível de precedência, utilizamos a ordem da **esquerda para direita**, assim como na matemática.

In [45]:
# Qual resultado da expressão?
# 5 + 3 * 10 - 16 / 2 ** 3
(5 + (3 * 10)) - (16 / (2 ** 3))

33.0

### Operadores em tipos diferentes

Um mesmo operador pode ter comportamentos diferentes quando os operandos tem **tipos** diferentes. Vejamos como o operador `+` se comporta com alguns dos tipos primitivos que já conhecemos.

In [46]:
# + com inteiros
10 + 50

60

In [48]:
# + com floats
3 + 2.5

5.5

In [51]:
# + com bool
True + True
# True: 1
# False: 0

2

In [54]:
# + com str

"Eu amo " + "Python"

'Eu amo Python'

Nos valores booleanos, o Python converteu os valores `False` para `0` e o `True` para `1`. Enquanto que nas strings, houve uma operação junção das duas strings, chamamos isso em programação de **concatenação**.

### Conversões de tipos

Alguns operadores permitem realizar suas operações em operandos de diferentes tipos. Em geral, o resultado da operação é o tipo mais genérico dentre os dois operandos.

In [55]:
# int e float
10 + 5.5

15.5

In [56]:
# int e bool
True + 10

11

In [57]:
# float e bool
5.5 + True

6.5

In [59]:
# string e int
"ola " + "3"

'ola 3'

A **divisão** em Python é um caso curioso, quando ela é aplicada em operandos inteiros, o seu resultado é do tipo float, mesmo que a divisão seja exata.

In [61]:
# divisao exata entre ints
4 / 2

2.0

In [62]:
# divisao não exata entre ints
4 / 3

1.3333333333333333

In [72]:
# divisão com //
10 // 3

3

In [64]:
# divisão entre floats
4.3/2.0

2.15

Nós também podemos utilizar algumas funções para **conversão** direta de tipos.

In [65]:
# int pra float - float()
float(5)

5.0

In [69]:
# float pra int - int()
int(4.9)

4

In [77]:
# float pra bool - bool()
bool(-10)

True

In [80]:
# float pra str - str()
str(42.5)

'42.5'

In [87]:
# str para bool (True) - bool()
bool("algo")

True

In [88]:
# str para bool (False)
bool("")

False

In [90]:
# bool pra str - str()
str(False)

'False'

In [96]:
# str para float - float()
float("10")

10.0

## Exercício 1

Faça um programa que solicita ao usuário um valor em polegadas e converte para centímetros, dado que 1 polegada é 2.54 centímetros.

In [100]:
polegadas = float(input("Digite o valor em polegadas "))
centimetros = polegadas * 2.54
print("O valor em centímetros é: ", centimetros)

Digite o valor em polegadas 2
O valor em centímetros é:  5.08

## Exercício 2

Faça um programa que solicita ao usuário um valor em reais e calcula a quantidade de litros de gasolina. Dado que 1 litro de gasolina é 7.19 reais.

In [101]:
reais = float(input("Digite o valor em reais "))
gasolina = reais / 7.19
print("Esse valor corresponde a ", gasolina, " litros")

Digite o valor em reais 100
Esse valor corresponde a  13.908205841446453  litros

## Exercício 3

Faça um programa que solicita ao usuário dois números que são os valores para os catetos de um triângulo retângulo e calcule o valor da hipotenusa.

In [104]:
import math
# a ** 2 = b**2 + c**2

cateto_1 = float(input("Cateto 1: "))
cateto_2 = float(input("Cateto 2: "))

hipotenusa = math.sqrt((cateto_1 ** 2) + (cateto_2 **2))
print(hipotenusa)

Cateto 1: 3
Cateto 2: 4
5.0