# Introdução à Programação para Ciência de Dados

### Aula 7: Strings II

**Professor:** Igor Malheiros

## Aprofundando em strings

Python fornece muitas funções nativas para tratar strings, além de possibilidade de utilizar alguns operadores para fazer tarefas que em outras linguagens de programação podem ser muito complexas. Estudaremos alguns desses operadores e algumas dessas funções.

### Slicing Strings

Uma operação que pode ser útil para resolver problemas com string é partir (*slice*) a string em pedaços. Chamamos essa parte menor da string de **substring** da string maior.

<br>

| M | o | n | t | y |   | P | y | t | h | o | n |
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 |10 |11 |

<br>

```Python
string = "Monty Python"
substring_1 = "Monty"
substring_2 = "Python"
```

É possível extrair exatamente uma substring utilizando o operador `[]` junto ao intervalo das posições desejadas na string original.

```Python
string = "Monty Python"
substring_1 = string[0:5]  # Não inclui a posição 5
substring_2 = string[6:12] # Não inclui a posição 12
```

**A última posição do intervalo não faz parte da substring!**

Pode-se **omitir** um dos lados do intervalo, para pegar do começo da string até um certo índice ou de um certo índice até o final da string.

```Python
string = "Monty Python"
substring_1 = string[:5]  # Mesmo que de 0:5
substring_2 = string[6:] # Mesmo que de 6:12
```

Se omitirmos os dois lados, o resultado é a string inteira.

```Python
string = "Monty Python"
substring = string[:]  # -> "Monty Python"
```

In [11]:
# Exemplo de slice
s = "Monty Python"

subs_1 = s[0:5]
print(subs_1)

print("------- ")

subs_2 = s[6:12]
print(subs_2)

Monty
-------
Python

In [12]:
# apenas um caractere: [n:(n+1)]
s = "Monty Python"

caractere = s[1:2] # s[1]
print(caractere)

o

In [13]:
# vazio: [n:n]
s = "Monty Python"

caractere = s[1:1]
print(caractere)

In [15]:
# Não existe limite
s = "Monty Python"

subs = s[5:100]
print(subs)

 Python

In [16]:
# Omitindo do lado esquerdo
s = "Monty Python"

subs = s[:6]
print(subs)

Monty

In [17]:
# Omitindo do lado direito
s = "Monty Python"

subs = s[6:]
print(subs)

Python

In [18]:
# Omitindo dos dois lados
s = "Monty Python"

subs = s[:]
print(subs)

Monty Python

### Concatenação de strings

A concatenação é uma das operações mais comuns entre strings, essa operação junta duas strings em uma nova string. Utilizando apenas o operador de `+` podemos concatenar duas strings em Python.

```Python
string_1 = "Monty"
string_2 = "Python"

string_resultado = string_1 + string_2
print(string_resultado)
```

O resultado do exemplo acima é `"MontyPython"`, as duas palavras foram adicionadas **sem nenhum espaço entre elas**. Podemos utilizar diretamente o caractere de espaço na expressão para gerarmos a string da forma desejada.

```Python
string_1 = "Monty"
string_2 = "Python"

string_resultado = string_1 + " " + string_2
print(string_resultado)
```

In [21]:
# Exemplo concatenação
string_1 = " Monty"
string_2 = "Python"

string_resultado = string_1 + " -> " + string_2
print(string_resultado)

 Monty -> Python

### `in` em Strings

A palavra reservada `in` em Python funciona em strings como um operador lógico. Ou seja, retorna valores como `True` ou `False`. Podemos usá-la para identificarmos se uma string é substring de outra.

```Python
string = "Monty Python"
substring = "Monty"

if substring in string:
    print("é substring")
else:
    print("não é substring")
```

In [23]:
# Exemplo in
string = "Monty Python"
substring = "casa"

if substring in string:
    print("eh substring!")
else:
    print("nao eh substring!")

nao eh substring!

### Função `lower()`

Transforma toda a string em letras minúsculas (se houverem letras maiúsculas). Essa função não modifica a string, em vez disso, ela vai criar e retornar uma nova string modificada.

```Python
nome = "José da Silva"
nome_minusculo = nome.lower() # Note que utilizaremos o .
print(nome_minusculo)

print("CPF".lower()) # Podemos usar diretamente a string, sem atribuir em uma variável

print("1a2b3c".lower())
```

In [26]:
# Exemplo lower()
nome = "José da Silva"
nome_minusculo = nome.lower()
print(nome)
print(nome_minusculo)

print("CPF".lower())

print("1a2b3c".lower())

José da Silva
josé da silva
cpf
1a2b3c

### Função `upper()`

Transforma toda a string em letras maiúsculas (se houverem letras minúsculas). Essa função não modifica a string, em vez disso, ela vai criar e retornar uma nova string modificada.

```Python
nome = "José da Silva"
nome_maiusculo = nome.upper() # Note que utilizaremos o .
print(nome_maiusculo)

print("1a2b3c".upper()) # Podemos usar diretamente a string, sem atribuir em uma variável

print("CPF".upper()) 
```

In [28]:
# exemplo upper()
nome = "José da Silva"
nome_maiusculo = nome.upper() # Note que utilizaremos o .
print(nome)
print(nome_maiusculo)

print("1a2b3c".upper())

print("CPF".upper())

José da Silva
JOSÉ DA SILVA
1A2B3C
CPF

### Função `find()`

A função `find()` é utilizada para buscar uma substring em outra string. Ela vai procurar a primeira ocorrência da substring (esquerda para direita) e retornar a posição encontrada. Caso a substring não seja encontrada (não é substring) a posição retornada é `-1`.

<br>

| b | a | n | a | n | a |
|:-:|:-:|:-:|:-:|:-:|:-:|
| 0 | 1 | 2 | 3 | 4 | 5 |

<br>

```Python
string = "banana"

# Queremos procurar a posição da primeira ocorrência de "na" em "banana"
pos = string.find("na")

# Queremos procurar a posição da primeira ocorrência de "zx" em "banana"
pos = string.find("zx")
```

In [30]:
# Exemplo find()
string = "banana"

pos = string.find("na")
print(pos)

pos = string.find("xz")
print(pos)

2
-1

### Função `replace()`

Essa função procura e substitui **todas** as ocorrências de uma substring por outra substring em uma string original. Esse tipo de operação é muito útil para **normalizar** dados.

```Python
string_1 = "banana"
replaced_string_1 = string_1.replace("a", "x")

string_2 = "Sua nota foi dez"
replaced_string_2 = string_2.replace("dez", "10")
```

In [36]:
# Exemplo replace()
string_1 = "banana"
replaced_string_1 = string_1.replace("a", "x")

print(string_1)
print(replaced_string_1)

string_2 = "Sua nota foi dez"
replaced_string_2 = string_2.replace("dez", "10")

print(string_2)
print(replaced_string_2)

string_3 = " b a n a n a "
replaced_string_3 = string_3.replace(" ", "")

print(string_3)
print(replaced_string_3)

banana
bxnxnx
Sua nota foi dez
Sua nota foi 10
 b a n a n a
banana

## Exercício 1

Faça um programa que lê uma string e substitui todos os $o$s por $0$s e todos os $i$s por $1$s.

In [40]:
s = input("Digite uma string")

s_o = s.replace("o", "0")
s_i = s_o.replace("i", "1")

print(s_i)

Digite uma stringbiscoito
b1sc01t0

## Exercício 2

Faça um programa que lê uma string (pode conter letras maiúsculas e minúsculas) e diz quantas vogais ela possui.

In [42]:
s = input("Digite uma string")
cnt = 0

for c in s:
    if c in "aeiouAEIOU":
        cnt = cnt + 1

print(cnt)

Digite uma stringbiscoito
4

## Desafio 1

Faça um programa que traduza a mensagem abaixo, sabendo que:

$0$ -> $o$ <br>
$1$ -> $i$ <br>
$3$ -> $e$ <br>
$4$ -> $a$ <br>
$5$ -> $s$<br>
$7$ -> $t$ <br>
$9$ -> $g$

"Th15 53m3573r, 1 4m l34rn1n9 pyth0n f0r d474 5c13nc3!"